<div class="card">
  <img src="{{product.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{product.title}}</h5>
    <p class="card-text">{{product.price | currency: 'USD'}}</p>
  </div>
  <div class="card-footer d-grid">
    <button
      *ngIf="quantity === 0; else updateQuantity"
      (click)="updateCart(product, true)"
      class="btn btn-primary btn-block"
    >Add to Cart</button>
  </div>
</div>

<ng-template #updateQuantity>
  <div class="row">
    <div class="col-2">
      <button
        (click)="updateCart(product, false)"
        style="width:100%" class="btn btn-primary"> - </button>
    </div>
    <div class="col">
      <div style="text-align: center">{{quantity}}</div>
    </div>
    <div class="col-2">
      <button
        (click)="updateCart(product, true)"
        style="float: right; width:100%" class="btn btn-primary"> + </button>
    </div>
  </div>
</ng-template>
