<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div class="form-group">
    <label for="title">Title</label>
    <input formControlName="title" id="title" type="text" class="form-control">
    <div *ngIf="title?.touched && title?.invalid" class="alert alert-danger">
      <div *ngIf="title?.errors?.['required']">Title is required.</div>
    </div>
  </div>
  <div class="form-group input-group">
    <label for="price">Price</label>
    <div class="input-group">
      <span class="input-group-text">$</span>
      <input formControlName="price" id="price" type="number" class="form-control">
      <span class="input-group-text">.00</span>
    </div>
  </div>
  <div *ngIf="price?.touched && price?.invalid" class="alert alert-danger">
    <div *ngIf="price?.errors?.['required']">Price is required.</div>
    <div *ngIf="price?.errors?.['min']">Price cannot be less than $0.</div>
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <select formControlName="category" id="category" class="form-control">
      <option value="">Category options...</option>
      <option *ngFor="let category of categories">{{category.category}}</option>
    </select>
    <div *ngIf="category?.touched && category?.invalid" class="alert alert-danger">
      <div *ngIf="category?.errors?.['required']">Category is required.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="imageUrl">Image URL</label>
    <input formControlName="imageUrl" id="imageUrl" type="text" class="form-control">
  </div>
  <div *ngIf="imageUrl?.touched && imageUrl?.invalid" class="alert alert-danger">
    <div *ngIf="imageUrl?.errors?.['required']">Image URL is required.</div>
    <div *ngIf="imageUrl?.errors?.['pattern']">Image URL is invalid.</div>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Save</button>
</form>
